.custom-navbar {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white !important;
  }
  
  .nav-link {
    font-size: 18px;
    margin: 0 12px;
    color: white !important;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: #ffde59 !important;
  }
  
  .navbar-toggler-icon {
    background-color: white !important; /* Icon color */
  }
  .nav-link.active {
    font-weight: bold;
    color: #f39c12; /* Active link color */
  }
  
  .nav-link:hover {
    color: #f1f1f1;
  }
  .user-profile{
    margin-top:5px;
  }
  .active{
    border-radius: 12px;
    background-color: white !important;
    color: red !important;
  }
  body, html {
    overflow-x: hidden;
  }
  .nav-link{
    padding: 10px !important;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%; /* Make sure the body and html take the full height */
  }